altgraph==0.16.1
appdirs==1.4.3
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
bottle==0.12.17
bottle-websocket==0.2.9
certifi==2019.11.28
cffi==1.13.0
chardet==3.0.4
colorama==0.4.1
cx-Freeze==6.0
cycler==0.10.0
Cython==0.29.15
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.0
docutils==0.16
Eel==0.10.4
entrypoints==0.3
ezdxf==0.11
filelock==3.0.12
future==0.17.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
importlib-metadata==0.23
iso8601==0.1.12
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==7.2.0
MouseInfo==0.1.2
parso==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==6.2.1
prometheus-client==0.7.1
prompt-toolkit==2.0.10
pycparser==2.19
PyGetWindow==0.0.7
Pygments==2.4.2
PyMsgBox==1.0.7
pyparsing==2.4.0
pyperclip==1.7.0
pypiwin32==223
PyQt5==5.13.2
PyQt5-sip==12.7.0
PyRect==0.1.4
pyrsistent==0.15.4
PyScreeze==0.1.25
python-dateutil==2.8.0
PyTweening==1.0.3
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.1.0
qtconsole==4.5.5
requests==2.23.0
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.3
urllib3==1.25.8
virtualenv==20.0.7
wcwidth==0.1.7
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
zipp==0.6.0
